biopython==1.86
charset-normalizer==3.4.4
CNVkit==0.9.9
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.0
fonttools==4.60.1
joblib==0.17.0
kiwisolver==1.4.9
matplotlib==3.6.3
networkx==3.4.2
numpy==1.26.4
packaging==25.0
pandas==1.5.3
pillow==12.0.0
pomegranate==0.15.0
pyfaidx==0.9.0.3
pyparsing==3.2.5
pysam==0.23.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
reportlab==4.4.4
scikit-learn==1.0.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
